html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  color: #171b41;
  background: #e8e9ea;
}

h1 {
  margin-top: 0;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  padding: 2em;
  border: 1px solid #dee1e5;
  min-width: 250px;
  max-width: 700px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Form */

.gradient {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: #b5caf9;
  padding: 0.5em 2em;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
}

.split-container {
  margin-top: 10px;
}

input {
  cursor: pointer;
  margin: 10px;
}

input[type="color"] {
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  height: 30px;
  width: 100px;
}

input[type="text"] {
  font-size: inherit;
  font-family: inherit;
  color: #171b41;
  width: 60px;
  padding: 0.25em;
  border: 1px solid #bbbfc5;
  border-radius: 6px;
}

.input-range-dark {
  background: linear-gradient(
    to right,
    #171b41 0%,
    #171b41 50%,
    #fff 50%,
    #fff 100%
  );

  border-radius: 5px;
  height: 7px;
  width: 200px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  border: 0.5px solid rgb(133, 133, 133);
}

.input-range-light {
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 50%,
    #171b41 50%,
    #171b41 100%
  );
  background: #fff;
  border-radius: 5px;
  height: 7px;
  width: 200px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  border: 0.5px solid rgb(133, 133, 133);
}

.input-range-dark::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 22px;
  width: 12px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 1);
  -webkit-appearance: none;
}

.input-range-light::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 22px;
  width: 12px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 1);
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 22px;
  width: 12px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 1);
  -webkit-appearance: none;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

/* Code section */

.code-container {
  margin-top: 1em;
  padding: 1em 2em;
  text-align: center;
  background: #171b41;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  width: 80%;
  max-width: 400px;
}

.code-title {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.code-to-copy {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 1em 2em;
  margin: 1em;
  letter-spacing: 1px;
  border: 2px solid transparent;
  transition: all 250ms ease-in-out;
  background: white;
  color: #171b41;
}

.code-to-copy:hover {
  border: 2px solid white;
}

/* Inspiration */

.inspiration {
  padding: 2em 3em;
  margin: 1em 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  width: 80%;
  text-align: center;
  transition: all 250ms ease-in-out;
  opacity: 0.9;
}

.inspiration:hover {
  transform: scale(1.05);
  opacity: 1;
}

.inspiration i {
  margin: 0 1em;
}

.inspiration:nth-child(even) {
  color: #fff;
}

/* Media queries */

@media (min-width: 500px) {
  .container-inspiration {
    align-self: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 0.5em;
    max-width: 500px;
  }
}

@media (min-width: 850px) {
  .container-main {
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
  }
  .container-generator {
    margin-right: 1em;
    min-width: 400px;
  }

  .container-inspiration {
    padding-bottom: 1em;
  }

  h3 {
    width: 100%;
    text-align: center;
  }

  .inspiration {
    width: 75px;
    height: 75px;
    margin: 0.5em;
  }
}
